@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

:root {
    --Background: rgb(226, 226, 226);
    --Font: #1a1a1a;
    --Icons: #fff;
    --icons-back: #fff;
}

/* START SHORTCUT CLASSESS */
.page-wrapper {
    font-family: 'Shippori Antique B1', sans-serif;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}
.page-wrapper .background-shape{
    background-image: url(https://pagesshop-com.s3.eu-central-1.amazonaws.com/static_files/images/shape8.png);
    background-size: 18px;
    position:absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .04;
    pointer-events: none;
}
.page-wrapper .setIconStyle{
    color: var(--Icons);
    background: var(--icons-back);
    padding: 3px;
    border-radius: 3px;
    margin: 3px;
}
.page-wrapper nav{
    background-color: var(--Background);
    max-height: 7rem;
    height: 8rem;
    padding: 4px;
    position: relative;
    overflow: hidden;
}
.page-wrapper nav .TH_IC_MAIN_LOGO_1{
    height: 100%;
    text-align: center;
}
.page-wrapper nav .TH_IC_MAIN_LOGO_1 img{
    height: 100%;
    padding: 4px;
}
.page-wrapper .title-top{
    text-align: center;

}
.page-wrapper .title-top .TH_IC_SIMPLE_TEXT_1{
    color: var(--Font);
    display: block;
    font-size: 1.35rem;
    margin: 10px;
    font-family: 'Fredoka One', cursive !important;
}
.page-wrapper .title-top .TH_IC_ICON_1_TEXT_1{
    font-size: .85rem;
}

.page-wrapper ul.ebay-links{
    list-style: none;
    margin: 0;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.80rem;
    margin: 10px 0;
    background: var(--Background);
}

.page-wrapper ul.ebay-links li{
    padding: 5px 10px;
}
.page-wrapper ul.ebay-links li + li{
    border-left: 4px solid #dddddd;
}
.page-wrapper ul.ebay-links li  span.text{
    margin-left: 5px;
}
.page-wrapper .TH_IC_ICON1_TEXT1_LIST_1{
    display: block;
}

.page-wrapper .TH_IC_ICON1_TEXT2_CR_1{
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-wrapper .TH_IC_ICON1_TEXT2_CR_1 li{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.page-wrapper .TH_IC_ICON1_TEXT2_CR_1 li span:nth-of-type(1){
    font-size: .75rem;
    font-weight: 500;
}
.page-wrapper .TH_IC_ICON1_TEXT2_CR_1 li span:nth-of-type(2){
    padding: 0 10px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 22px;
}

.page-wrapper .TH_IC_ICON1_TEXT2_CR_1 li i{
    font-size: 12px;
    width: 40px;
    text-align: center;
}

.page-wrapper div.produkt-container .produkt-images{
    margin-bottom: 20px;
}

.page-wrapper div.produkt-container .slider .slider-content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 480px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-around;
    background-color: var(--Background);
    border: 10px solid var(--Background);
}
.page-wrapper .slider .slider-content input[name='slide_switch'] {
    display: none;
}
.page-wrapper div.produkt-container .slider .slider-content div.image img{
    position: absolute;
    left: 0;
    top: 0;
    transition: .50s;
    object-fit: contain;
    height: 88%;
    width: 100%;
    opacity: 1;
}
.page-wrapper div.produkt-container .slider .slider-content div.image.newEbay img{
    opacity: 1;
}
.page-wrapper .tx{
    font-size: .85rem;
}
.page-wrapper .slider .slider-content > div > div.kleinImage{
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    border: 1px solid transparent;
}

.page-wrapper .slider .slider-content > div > label{
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    border: 1px solid transparent;
}


.page-wrapper .slider .slider-content input[name='slide_switch']:checked + label {
    border: 1px solid var(--Icons);
}
.page-wrapper .slider .slider-content input[name='slide_switch']:checked + label + .image img {
    opacity: 1;
}
.page-wrapper .underline {
    border-bottom: 5px solid var(--Icons);
    margin-bottom: 10px;
    padding: 10px;
}
.page-wrapper .image-border {
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid var(--label);
}




/* XX-Large devices (larger desktops, 1400px and down) */
@media (max-width: 1400px) {  }


/* X-Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
    .page-wrapper nav{
        max-height: 8rem;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    .page-wrapper nav{
        max-height: 7rem;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .page-wrapper nav{
        max-height: 5rem ;
    }
    .page-wrapper div.produkt-container .slider .slider-content{
        min-height: 410px;
    }
}
.page-wrapper .ql-container{
    font-family: inherit !important;
    font-size: .85rem;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

    .page-wrapper nav{
        max-height: 6rem;
    }
    .page-wrapper .TH_IC_ICON1_TEXT1_LIST_1,
    .page-wrapper .TH_IC_ICON_1_TEXT_1{
        display: none;
    }
    .page-wrapper div.produkt-container .slider .slider-content{
        min-height: 410px;
    }
}
